# Nuxt dev/build outputscd 
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
.output/
# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.vercel
Auditoria V2 de avivamientomonterrey.com _ LupaLocal_files/*
Auditoria V2 de avivamientomonterrey.com _ LupaLocal.html
